body {
    background-color: red;
}

h1 {
    font-size: 100px;
    color: #45BFED;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.subtitle {
    font-size: 80px;
    text-align: right;
}

.pizza-header {
    
}