html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: red;
    overflow-x: hidden;
}

h1 {
    font-size: 100px;
    color: #45BFED;
    text-align: center;
    font-family: "Segoe-UI", sans-serif;
}

header {
    padding: 30px 0;
}

.subtitle {
    font-size: 40px;
    text-align: center;
    color: rgba(143, 7, 255, 0.75);
    font-family: "Avenir", sans-serif;
    letter-spacing: 3px;
}

.pizza-header {
    width: 90%;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}


section.img-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.img-grid .img-item{
    margin: 10px 15px;
    opacity: 0.5;
}

section.content{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    color: white;
}

section.content h3{
    font-size: 42px;
    font-family: 'Segoe UI', sans-serif;
    color: black;
}

section.content p{
    font-size: 24px;
    font-family: cursive;

    color: violet;
}

section.content a{
    color: rgb(0, 225, 255);
}

section.content a:hover{
    opacity: 0.6;
}

footer{
    background: orange;
    color: green;

    font-family: 'Avenir', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}