html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #45BFED;
    overflow-x: hidden;
}

h1 {
    font-size: 100px;
    color: white;
    text-align: center;
    font-family: "Segoe-UI", sans-serif;
}

header {
    padding: 30px 0;
    border: solid 5px white;
}

.subtitle {
    font-size: 40px;
    text-align: center;
    /* color: magenta; */
    color: rgba(255,255,255,0.75);
    font-family: "Avenir", sans-serif;
    letter-spacing: 3px;
}

.pizza-header {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}